{% extends "base.html" %}
{% load static %}
{% load article_tags %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/article/post.css' %}">
<link rel="stylesheet" href="{% static 'styles/article/hilite.css' %}">

<div class="row justify-content-center" style="margin-top: 7.5%;">

    <div class="col-10">

        <div class="row justify-content-center">
            <h1>{{ article.title }}</h1>
        </div>

        <div class="row justify-content-center" style="margin-top: 3%;">
            <h2>By {{ article.author }}</h2>
        </div>

        <div class="row justify-content-center" style="margin-top: 3%;">

            <div class="col-10 post_content">
                {{ article.content | to_HTML | safe}}

            </div>
        </div>


    </div>

</div>



{% endblock %}