{% extends "base.html" %}
{% load static %}
{% load article_tags %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/article/post.css' %}">
<link rel="stylesheet" href="{% static 'styles/article/hilite.css' %}">

<div class="row justify-content-center article" style="margin-top: 7.5%;">

    <div class="col-10">

        <div class="row justify-content-center title">
            <h1>{{ article.title }}</h1>
        </div>

        <div class="row justify-content-center" style="margin-top: 3%;">
            <h2>By {{ article.author }}</h2>
        </div>

        <div class="row justify-content-center" style="margin-top: 3%;">

            <div class="col-10 post_content">
                {{ article.content | to_HTML | safe}}

            </div>
        </div>


    </div>

</div>


<style>

    .title h1{
        font-size: 3vw;
        font-weight: 1000;
    }

    .article p{
        font-size: 1vw;
    }

</style>



{% endblock %}