{% extends "base.html" %}
{% load static %}

<head>

</head>

{% block content %}

<div class="screen 1" id='top'>

    <div class="jumbotron jumbotron-fluid" style="height: 50%;">

        <div class="row justify-content-center" style="text-align: center; margin-top: 1%;">
            <h1 style="font-family: gilroy;">Courses</h1>
        </div>


        <div class="row justify-content-center" style="text-align: center; margin-top: 10%;">
            <div class="col-7" style="font-size: 1.5vw;">

                <div class="row courses-buttons">
                    <div class="col-4">
                        <a href="#java"><button class="btn">Java</button></a>
                    </div>

                    <div class="col-4">
                        <a href="#python"><button class="btn">Python</button></a>

                    </div>

                    <div class="col-4">
                        <a href="#swift"><button class="btn">Swift</button></a>

                    </div>
                </div>

                

            </div>

        </div>


    </div>



</div> <!-- End of screen 1-->



<div class="screen 2" id='java'>
<div class="row justify-content-center">
    <div class="col-10">

        <div class="row">
            <div class="col-10">
                <h2>Java</h2>
            </div>
        </div>

        <div class="row">

            <div class="col-6">
                <p style="font-size: 1.5vw;">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                </p>
            </div>

            <div class="col-6">
                <div class="responsive-video">
                    <iframe src="https://www.youtube-nocookie.com/embed/-AG0As5Z1Qw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>



        </div>

        <div class="row justify-content-center difficulty-buttons" style="margin-top: 5%;">

            <div class="col-8">
                <a href=""><button class="btn">Start Now!</button></a>
            </div>
        </div>

        <div class="row justify-content-center backtop" style="margin-top: 0%;">
            <div class="col-8" style="text-align: center; margin-top: 1%;">
                <a href="#">Back to Top</a>
            </div>
        </div>

    </div>
</div>
</div>

<div class="screen 3" id='python'>
<div class="row justify-content-center">
    <div class="col-10">
        
        <div class="row">
            <div class="col-10">
                <h2>Python</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <p style="font-size: 1.5vw;">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                </p>
            </div>

            <div class="col-6">
                <div class="responsive-video">
                    <iframe src="https://www.youtube-nocookie.com/embed/-AG0As5Z1Qw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            
        </div>


        <div class="row justify-content-center difficulty-buttons" style="margin-top: 5%;">

            <div class="col-8">
                <a href=""><button class="btn">Start Now!</button></a>
            </div>

        </div>

        <div class="row justify-content-center backtop" style="margin-top: 0%;">
            <div class="col-8" style="text-align: center; margin-top: 1%;">
                <a href="#">Back to Top</a>
            </div>
        </div>

    </div>
</div>
</div>

<div class="screen 4" id='swift'>
    <div class="row justify-content-center">
        <div class="col-10">
            
            <div class="row">
                <div class="col-10">
                    <h2>Swift</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <p style="font-size: 1.5vw;">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. 
                    </p>
                </div>
                
                <div class="col-6">
                    <div class="responsive-video">
                        <iframe src="https://www.youtube-nocookie.com/embed/-AG0As5Z1Qw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center difficulty-buttons" style="margin-top: 5%;">

                <div class="col-8">
                    <a href=""><button class="btn">Start Now!</button></a>
                </div>
    
            </div>

            <div class="row justify-content-center backtop" style="margin-top: 0%;">
                <div class="col-8" style="text-align: center; margin-top: 1%;">
                    <a href="#">Back to Top</a>
                </div>
            </div>
            

        </div>
    </div>
</div>


{% include "contact.html" %}

<style>
    .screen{
        height: 100vh;
    }

    .screen h2{
        font-family: gilroy;
        font-size: 3vw;
        margin-top: 5%;
    }

    .jumbotron{
        background: none;
        padding-top: 10%;
        margin: 0;
    }

    .jumbotron h1{
        font-size: 5vw;
    }

    .courses-buttons button {
        width: 80%;
        background-color: var('--gray');
        font-size: 2vw;
    }


    .difficulty-buttons button{
        width: 100%;
        background-color: var('--gray');
        font-size: 2vw;
    }

    .responsive-video{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        margin-left: 10%;
    }
    
    .responsive-video iframe{
        left:0;
        top:0;
        height:80%;
        width:80%;
        position:absolute;
    }

    .backtop a{
        color: black;
    }

</style>


<script>
    $(document).ready(function(){
        $('.nav-link.courses').addClass('active');
    })
    
</script>
{% endblock %}