{% extends "base.html" %}
{% load static %}

<head>

</head>

{% block content %}

<div class="screen 1">
    <div class="jumbotron jumbotron-fluid" style="height: 50%;">

        <div class="row justify-content-center" style="text-align: center;">
            <h1>Donate</h1>
        </div>

        <div class="row justify-content-center" style="text-align: center; margin-top: 3%;">
            <div class="col-5" style="font-size: 2vh;">
                <p>I want to kill Nathaniel Cherian. Help me hire a hitman!
                </p>
            </div>
        </div>

    </div>
</div>

<div class="screen 2">
    
    <div class="row justify-content-center">
        <button class="btn" style="background-color: orange; font-size: 4vh; height: 20vh; width: 80vh;">Temporary Button for Paypal Link</button>
    </div>

</div>

{% include "contact.html" %}

<style>
    .screen{
        height: 100vh;
    }

    .jumbotron{
        background: none;
        padding-top: 10%;
        margin: 0;
    }

    .jumbotron h1{
        font-size: 5vw;
        font-family: gilroy;
        color: var('--lblue');
    }
</style>

<script>
    $(document).ready(function(){
        $('.nav-link.donate').addClass('active');
    })
    
</script>

{% endblock %}