{% extends "base.html" %}

    {% block content %}



      <div class="mcontent">

      <div class="jumbotron jumbotron-fluid" style="background: none; height: 100vh;">
        <div class="container info">

            <div class="row justify-content-center" style="margin-top: 20vh;">
                <div class="col-10" style="text-align: center;">
                    <h1>Nighthawk Coding Society</h1>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 10vh;">
                <div class="col-10" style="text-align: center;">
                    <p>“Mission Statement At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.”
                        <br> <a href="#"> <i> More About Us</i></a> 
                    </p>
                </div>
            </div>

        </div>
      </div>

      <div class="Highlights" style="height: 100vh;">

        <div class="row">
            <div class="col-1"></div>


            <div class="col-10">


            <div class="row justify-content-center">
                <div class="col-10" style="text-align: center;">
                   <h2>NCS Highlights</h2> 
                </div>
            </div>


            <div class="container" style="margin-top: 3vh;">

                <div class="row ncs" style="margin-top: 10vh;">
                    <div class="col-3">
                        <img src="" alt="image1" style="background-color: gray; height: 17vh; width: 20vh;">
                    </div>
                    <div class="col-9" style="margin-top: 1vh;">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                        <br><a href='#'>See More</a></p>
                    </div>
                </div>

                <div class="row ncs">
                    <div class="col-3">
                        <img src="" alt="image1" style="background-color: gray; height: 17vh; width: 20vh;">
                    </div>
                    <div class="col-9" style="margin-top: 1vh;">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                        <br><a href='#'>See More</a></p>
                    </div>
                </div>

                <div class="row ncs">
                    <div class="col-3">
                        <img src="" alt="image1" style="background-color: gray; height: 17vh; width: 20vh;">
                    </div>
                    <div class="col-9" style="margin-top: 1vh;">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                        <br><a href='#'>See More</a></p>
                    </div>
                </div>

            </div>

            </div>

            <div class="col-1"></div>
            </div>
      </div>

      <div class="donations" style="height: 100vh; margin-top: 25vh;">
        
        <div class="row justify-content-center">
            <h1>Donations</h1>
        </div>

        <div class="row justify-content-center" style="margin-top: 8vh;">
            <div class="col-5" style="text-align: center;">
                <p>
                Tiny statement about why we could use donations & how visitors can help us:  At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <a href="#"><button class='btn'>I would like to donate</button></a>
        </div>

      </div>


      {% include "contact.html" %}



      <style>
        .ncs{
            margin-top: 10vh;
        }

        .mcontent a{
            color: black;
            text-decoration: underline;
        }
        
        a:hover{
            color: rgb(124, 121, 121);
        }

    </style>
    </div>
    

    {% endblock %}