{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="screen 1">

        <div class="jumbotron jumbotron-fluid" style="height: 50%;">
    
            <div class="row justify-content-center" style="text-align: center; font-family: gilroy; margin-top: 1%;">
                <h1>Products</h1>
            </div>
    
            <div class="row justify-content-center" style="text-align: center; margin-top: 3%;">
                <div class="col-7" style="font-size: 1.5vw;">
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat                    </p>
                </div>
    
            </div>
    
        </div>
    
    </div>


    <div class="screen 2">

        <div class="row justify-content-center">
            <div class="col-10">

                <div class="row">
                    <div class="col-10">
                        <h2 style="font-family: gilroy;">Product Name</h2>
                    </div>
                </div>


                <div class="row" style="margin-top: 2%">

                    <div class="col-6">
                        <p style="font-size: 1vw; line-height: 4vh;">
                            dunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                        </p>
                    </div>

                    <div class="col-6" style="height: 30vh; text-align: end;">
                        <div class="responsive-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/tgbNymZ7vqY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 10%;">

            <div class="col-10" style="text-align: center;">
                <h1 style="font-size: 2.5vw;">More Product Content</h1>
            </div>

        </div>

        
    </div>

    <div class="screen 2">

        <div class="row justify-content-center">
            <div class="col-10">

                <div class="row" style="font-family: gilroy;">
                    <div class="col-10">
                        <h2>Product Name</h2>
                    </div>
                </div>


                <div class="row" style="margin-top: 2%">

                    <div class="col-6">
                        <p style="font-size: 1vw; line-height: 4vh;">
                            dunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                        </p>
                    </div>

                    <div class="col-6" style="height: 30vh; text-align: end;">
                        <div class="responsive-video">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/tgbNymZ7vqY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>


            </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 10%;">

            <div class="col-10" style="text-align: center;">
                <h1 style="font-size: 2.5vw;">More Product Content</h1>
            </div>

        </div>

        
    </div>


    {% include "contact.html" %}



<style>
    .screen{
        height: 100vh;
    }

    .jumbotron{
        background: none;
        padding-top: 10%;
        margin: 0;
    }

    .jumbotron h1{
        font-size: 8vh;
    }

    h2{
        font-size: 3vw;
    }

    .responsive-video{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        margin-left: 10%;
    }
    
    .responsive-video iframe{
        left:0;
        top:0;
        height:80%;
        width:80%;
        position:absolute;
    }

</style>

<script>
    $(document).ready(function(){
        $('.nav-link.products').addClass('active');
    })
    
</script>

{% endblock %}