<!DOCTYPE html>

{% extends "homesite/base.html" %}

{% block content %}
<style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

<h1>Auth User</h1>
<div class="row courses-buttons justify-content-center">
    <form method="POST" ID="authUser" action={{url_for('.auth_user')}} >
        <table>
            <tr><th>Username</th></tr>
            <tr><td><input type="text" name="txtUsername" size="20"></td></tr>
            <tr><th>Password</th></tr>
            <tr><td><input type="password" name="txtPwd1" size="20"></td></tr>
            <tr><th>Repeat Password</th></tr>
            <tr><td><input type="password" name="txtPwd2" size="20"></td></tr>
            <tr><th>Email</th></tr>
            <tr><td><input type="text" name="txtEmail" size="20"></td></tr>
            <tr><th><input type="submit" value="Submit"></th></tr>
            <tr><td><a href={{url_for('.login')}}>Log In</a></td></tr>
        </table>
    </form>
</div>

{% endblock %}

