<!DOCTYPE html>

<!-- EXTEND (base.html), homesite/base.html is template for all rendered pages in the project -->
{% extends "homesite/base.html" %}

<!-- STYLE (in <head>), style enhancements for page -->
{% block style %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
{% endblock %}

<!-- SCRIPT (in <head>), script enhancements for page -->
{% block script %}
  <!-- Password verification and error message -->
    <script>
        //adding dom event listener to allow the verifyPassword funtion to be attached to the form. This is so we can keep our JS separate from our html and not have onsubmit in the form.

        'use strict' //ensures best environment to prevent JS programmer error and tells browser to use most modern version of JS interpreter it has. 

        document.addEventListener("DOMContentLoaded", function(){
            // event listener fires when the DOM is fully loaded. This way you can write scripts that are before the elements are loaded into the dom, but waits to be added to the page until the dom is fully loaded.

            document.querySelector('#create').addEventListener('submit', verifyPassword );
            //querySelector selects elements with CSS selectors. id="create" gets selected with the code above.

        // pulled this function in here to keep it private from the window object/global scope. This is one way to protect your variables and functions from being hijacked by xss. Declared function names do act like variables in a way.

        function verifyPassword(event) {
            /*
            because this is being called by an event, the event object is automatically
            passed and captured as seen above. We are capturing it with the 'event' parameter in this function.

            This is frequently represented in the following ways in JS: e, evt and event. 
            
            As a variable, it could be called anything - but it makes more sense to call it event rather than banana... etc. 
            
            Name your variables well, my friends.
            */

            const psw =  document.getElementById("password").value; 

            if (psw.length < 6 || psw.length > 20) {
                document.getElementById("pswError").innerHTML = "Password must be between 6 and 20 characters";
                event.preventDefault(); 
                //prevents submission of form when password length is not valid.
            }

        } //this function could be expanded upon, where we use JS to completely validate the form and have HTML5 as a fallback. Let me know if you want to have me expand this. - T

        //additional listeners and functions could/should be put in here.

        }); //end DOMContentLoaded listener

        
    </script>
{% endblock %}

<!-- CONTENT (in <body>), content for this page -->
{% block content %}

    <!-- Links to code for Front End and Backend for this lesson;  Also, link to Login example  -->
    <div class="jumbotron jumbotron-fluid" style="height: 50%; ">
        <div class="row justify-content-center">
            <div class="col-10" style="text-align: center;">
                <h1>Hello to Databases and Python</h1>
                <table id="links">
                    <tr>
                        <td><a href=#FE-HTML>HTML Code</a></td>
                        <td><a href=#BE-VIEW>View Code</a></td>
                        <td><a href=#BE-MODELDEFINE>Model Define</a></td>
                        <td><a href=#BE-MODELCRUD>Model CRUD</a></td>
                        <td><a href={{url_for('.login')}}>Authorise User</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Sample table rendering and filtering link -->
    <div class="jumbotron jumbotron-fluid" style="height: 50%; ">

        <!-- title -->
        <div class="row justify-content-center">
            <div class="col-10" style="text-align: center;">
                <h1>Sample Table</h1>
            </div>
        </div>

        <!-- backend filtering actions -->
        <div class="row courses-buttons justify-content-center">
            <table id="links">
            <tr>
                <td><a href={{url_for('.databases')}}>Full Table </a></td>
                <td><a href={{url_for('.emails')}}>E-Mails only</a></td>
                <td><a href={{url_for('.phones')}}>Phones only</a></td>
            </tr>
            </table>
        </div>

        <!-- Table display,  "table" variable and rows with "dictionary elements" are expected -->
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>Emails</th>
                <th>Phone Numbers</th>
            </tr>
            <!-- Loop through rows in table -->
            {% for row in table %}
                <!--
                Prepare table for display
                    caution: phone number needs "~" format step to force type to string
                -->
                {% set pn = "" ~ row['phone_numbers'] %}
                {% set pnf = "(" ~ pn[0:3] ~ ")" ~ pn[3:6] ~ "-" ~ pn[6:10] %}
                <tr>
                    <td>{{ row['id'] }}</td>
                    <td>{{ row['name'] }}</td>
                    <td>{{ row['password'] }}</td>
                    <td>{{ row['emails'] }}</td>
                    <td>{{ pnf }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>

    <!-- Create action, input and "Add" a new row to table  -->
    <div class="jumbotron jumbotron-fluid" style="height: 50%; ">

        <div class="row justify-content-center">
            <div class="col-10" style="text-align: center;">
                <h1>CRUD: Create</h1>
            </div>
        </div>

        <div class="row courses-buttons justify-content-center">
<!-- onsubmit ="return verifyPassword()" -->
            <form method="POST" ID="create" action={{url_for('.create')}} >
                <table>
                    <tr>
                        <th><label for="username">Name</label></th>
                        <th><label for="password">Password</label></th>
                        <th><label for="email">Email</label></th>
                        <th><label for="phone_number">Phone Number</label></th>
                    </tr>
                    <tr>
                        <td><input type="text" name="username" id="username" required></td>
                        <td><input type="password" name="password" id="password" required></td>
                        <td><input type="email" name="email" id="email" placeholder="abc@xyz.org" required></td>
                        <td><input required type="tel" name="phone_number" id="phone_number" pattern="[0-9]{10}" placeholder="1234567890"></td>
                        <td><input type="submit" value="Add"></td>
                    </tr>
                </table>
                <p id="pswError"></p>
            </form>

        </div>
    </div>

    <!-- Read action, filter table on page to single row -->
    <div class="jumbotron jumbotron-fluid" style="height: 50%; ">

        <div class="row justify-content-center">
            <div class="col-10" style="text-align: center;">
                <h1>CRUD: Read</h1>
            </div>
        </div>

        <div class="row courses-buttons justify-content-center">

            <form method="POST" ID="read" action={{url_for('.read')}} >
                <table id="links">
                    <tr><th><label for="ID">ID</label></th></tr>
                    <tr><td><select name="ID" id="ID">
                        <optgroup label="userid">
                            {% for row in table %}
                                <option label="{{ row['id'] }}">{{ row['id'] }}</option>
                            {% endfor %}
                        </optgroup>
                    </select></td>
                        <td><input type="submit" value="Filter"></td>
                    </tr>
                </table>
            </form>

        </div>
    </div>

    <!-- Update action, change selected rows email and phone number -->
    <div class="jumbotron jumbotron-fluid" style="height: 50%; ">

        <div class="row justify-content-center">
            <div class="col-10" style="text-align: center;">
                <h1>CRUD: Update</h1>
            </div>
        </div>

        <div class="row courses-buttons justify-content-center">

            <form method="POST" ID="update" action={{url_for('.update')}} >
                <table id="links">
                    <tr>
                        <th><label for="Update_ID">ID</label></th>
                        <th><label for="Update_email">Email</label></th>
                        <th><label for="Update_phone_number">Phone Number</label></th>
                    </tr>
                    <tr>
                        <td>
                        <select name="ID" id="update_ID">
                            <optgroup label="userid">
                                {% for row in table %}
                                    <option label="{{ row['id'] }}">{{ row['id'] }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                        </td>
                        <td><input type="email" name="email" id="update_email" placeholder="abc@xyz.org"></td>
                        <td><input type="tel" name="phone_number" id="update_phone_number" pattern="[0-9]{10}" placeholder="1234567890"></td>
                        <td><input type="submit" value="Update"></td>
                    </tr>
                </table>
            </form>

        </div>
    </div>

    <!-- Delete action, delete selected row from table -->
    <div class="jumbotron jumbotron-fluid" style="height: 50%; ">

        <div class="row justify-content-center">
            <div class="col-10" style="text-align: center;">
                <h1>CRUD: Delete</h1>
            </div>
        </div>

        <div class="row courses-buttons justify-content-center">

            <form method="POST" ID="delete" action={{url_for('.delete')}} >
                <table id="links">
                    <tr><th><label for="delete_ID">ID</label></th></tr>
                    <tr><td><select name="ID" id="delete_ID">
                        <optgroup label="userid">
                            {% for row in table %}
                                <option label="{{ row['id'] }}">{{ row['id'] }}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                    </td><td><input type="submit" value="Delete"></td></tr>
                </table>
            </form>

        </div>
    </div>

    <!-- Display CRUD code to support Tech Talks -->

    <!-- Front End HTML, shows this file -->
    <div align="center" >
        <h1 id="FE-HTML">Front End HTML Code</h1>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fflask-idea-homesite%2Fblob%2Fmaster%2Fviews%2Fpythondb%2Ftemplates%2Fpythondb%2Findex.html&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
    </div>

    <!-- Back end View and Control code -->
    <div align="center" >
        <h1 id="BE-VIEW">Back End View Code</h1>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fflask-idea-homesite%2Fblob%2Fmaster%2Fviews%2Fpythondb%2Fview.py&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
    </div>

    <!-- Back end SQL data definition code (SQLalchemy) -->
    <div align="center" >
        <h1 id="BE-MODELDEFINE">Back End Model Definition Code</h1>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fflask-idea-homesite%2Fblob%2Fmaster%2Fmodels%2F__init__.py&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
    </div>

    <!-- Back end SQL CRUD supporting code -->
    <div align="center" >
        <h1 id="BE-MODELCRUD">Back End Model CRUD Code</h1>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fflask-idea-homesite%2Fblob%2Fmaster%2Fmodels%2Fcrud.py&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
    </div>

{% endblock %}
