<!DOCTYPE html>

{% extends "homesite/base.html" %}

{% block content %}
<style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

<h1>Login</h1>
<div class="row courses-buttons justify-content-center">
    <form method="POST" ID="login" action={{url_for('.login')}}>
        <table border="0">
            <tr><th><label for="txtUsername">Username</label></th></tr>
            <tr><td><input type="text" name="txtUsername" size="20" required></td></tr>
            <tr><th><label for="txtPwd1">Password</label></th></tr>
            <tr><td><input type="password" name="txtPwd1" size="20" required></td></tr>
            <tr><th><label for="txtEmail">Email</label></th></tr>
            <tr><td><input type="email" name="txtEmail" size="20" required></td></tr>
            <tr><th><input type="submit" value="Submit"></th></tr>
            <tr><td><a href={{url_for('.auth_user')}}>Sign Up</a></td></tr>
            <tr><td><a href={{url_for('.public')}}>Public Page</a></td></tr>
        </table>
    </form>
</div>

{% endblock %}