
{% extends "base.html" %}
{% block title %}About Ava
{% endblock %}

{% block pagecontent %}
<h1><u>Ava's Portfolio:</u></h1>
<div class="col-4">
 <form action="https://github.com/avabrooks">
  <input type="submit" value="Github" />
 </form>

</div>
</div>
{#Script for 11/6/20#}
<h2> Individual Mastery:</h2>
<div id="script" style="margin-bottom: 5vw;">
 <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0">
  <iframe src="https://docs.google.com/document/d/1NoxmocD6JhWXDdn-DXRmWdL2YFuZOS3aej06xxV3kb4/edit"
          frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div </a></div></div>
</div>
{#KIA study journal#}
<h2> Study Journal:</h2>
<div id="study-journal" style="margin-bottom: 5vw;">
 <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0">
  <iframe src="https://docs.google.com/document/d/1Oe6u6SvYPV3xxBeHcY3fxRQVrFZ_Wtz-9sMFICQNpeY/edit#"
          frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div </a></div></div>
</div>
{#Project Scope Embed#}
<h2> Flask Project Scope:</h2>
<div id="flask-project-scope" style="margin-bottom: 5vw;">
 <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://docs.google.com/document/d/1T3cajl0kOPPRUfHDqBrKtmC6Ria0kW8E0_gJo3ur6vc/edit" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div ></a></div></div>
</div>
</div>
{#original base to play around with HTML and work with #}
<h2> Flask Personal Website:</h2>
<div id="flask-personal-website" style="margin-bottom: 5vw;">
 <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://python-web-portfolio-series.avabrooks.repl.co/" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div ></a></div></div>
</div>
<h2> Hello Series Project Scope:</h2>
<div id="hello-project-scope" style="margin-bottom: 5vw;">
 <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://docs.google.com/document/d/1VelBBpneDJVcsaPZCT5Qb72xthwv9PCPSnQTGb2yWMA/edit" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div ></a></div></div>
</div>



{% endblock %}
