<!-- Ketki's page on the website -->
{% extends "base.html" %}
{% block title %}Comedians Through The Decades
{% endblock %}

{% block pagecontent %}
<h1><u>Comedians Through The Decades</u></h1>
</div>
<h2> Scroll down for fun videos of each comedian!</h2>
</div>
{#embedding from padlet#}
<div id="padlet" style="margin-bottom: 5vw;">
 <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://padlet.com/avabrooks1234567/r38cckn80sqbsrbl" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div </a></div></div>
</div>

</div>
{#embedding from Youtube#}
<h2> Before The 20s: Charlie Chaplin</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/79i84xYelZI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
{#embedding from Youtube#}
<h2> 1920s: Will Rogers</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1pmGcmgvwqY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
{#embedding from Youtube#}
<h2> 1940s: Jack Benny</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/IeOtLAv82mA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
{#embedding from Youtube#}
<h2> 1950s: Red Skelton</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/o4mgHNX9eUg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
{#embedding from Youtube#}
<h2> 1950s: Lucille Ball</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/yR-xUWQWTEI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
{#embedding from Youtube#}
<h2> 1960s: Bob Newhart</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/R5TTA4f7Q3E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
{#embedding from Youtube#}
<h2> 1970s: SNL Top 10 Original Sketches</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ADbQVJdVk-o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
{#embedding from Youtube#}
<h2> 1970s: Carol Burnett</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1IhRaAuVXCY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
{#embedding from Youtube#}
<h2> 1980s: Steve Wright</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Rcn8efJbvXM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
{#embedding from Youtube#}
<h2> 1990s: Jerry Seinfeld</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xR1ckgXN8G0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
{#embedding from Youtube#}
<h2> 2020: Brian Regan</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/r6GHPIwkXl0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
{#embedding from Youtube#}
<h2> 2020: Ali Wong</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wY5-8kvMEh0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>
{#embedding from Youtube#}
<h2> 2020: Mindy Kaling</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/qcOdNc_seyM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}