<!-- Ketki's page on the website -->
{% extends "base.html" %}


{% block head %}
  <title>{{name}}| Home </title>
{% endblock %}
<!-- jumbotron: shows use of bootstrap -->
{% block pagecontent %}
  <div class="product" style="margin-top: 10%;">
    <div class="row" style="padding: 10%; padding-top: 10px; padding-right: 200px; padding-bottom: 200px; padding-left:80px">
  </div>
  </div>
<!-- jumbotron code from bootstrap--!>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Comedy Central!</h1>
    <p class="lead">This is a website dedicated to comedy. You can hear jokes, learn about comedians, learn about the history of comedy,
      <br/>and even submit your own jokes!</p>
    <hr class="my-4">
    <p>Enjoy!</p>
  </div>
<!-- flask web portfolio link/button--!>
<div class="row" style="padding-left: 10%;">
  <div class="col-4">
    <form action="https://python-web-portfolio-series.iniyaamohanraj.repl.co/">
      <input type="submit" value="Flask Web Portfolio" />
    </form>
  </div>
</div>
</div>
</div>
<!--wells from bootstrap--!>
<div class="well">
  <h1 class="text-center" class="display-1"> <mark> Today's Featured Joke:</mark></h1>
  <br/>
  <h3 class="text-center"> I’ll tell you a coronavirus joke now, but you’ll have to wait two weeks to see if you got it. </h3>
</div>

{% endblock %}