{% extends "base.html" %}
{% block title %}About Iniyaa
{% endblock %}
{% block pagecontent %}
<div>
        <div class="jumbotron">
                <h1 class="display-4">Iniyaa's Page!</h1>
                <p class="lead">This page has some of my materials from this trimester</p>
                <hr class="my-4">
                <div>
                        <h1>Study Journal</h1>
                </div>
                <div>
                        <p>This is the document that tracks my projects this  trimester.</p>
                </div>
                <div>

                        <iframe width='1280' height='500' src='https://docs.google.com/document/u/1/d/1Oe6u6SvYPV3xxBeHcY3fxRQVrFZ_Wtz-9sMFICQNpeY/edit'
                                frameborder=2 allowfullscreen allow='xr-spatial-tracking'></iframe>
                </div>
                <div>
                        <h1>Front End</h1>
                </div>
                <div>
                        <p>This has the earlier version of the code for this page (Front End)</p>
                </div>
                <div>
                        <img src="https://docs.google.com/drawings/d/e/2PACX-1vS51uIVYsMXhee61hW5Wu5qU3GvVUx6k1xC78sZHZWTKykwaryRXX3OPCBgLqN_yVYk7lLgB3zxLIAE/pub?w=941&amp;h=544"></div>
                <div>
                        <h1>Back End</h1>
                </div>
                <div>
                        <p>This is the main.py backend code</p>
                </div>
                <div>
                        <img src="https://docs.google.com/drawings/d/e/2PACX-1vSzirIMq4jpj5eH84ed7m6hl4ZVAFK7EAki66Vj23WdGUAr4cUdh8MoB5_QBaJgyBY1ve_gwGBjcH3i/pub?w=844&amp;h=593">
                </div>
                <div><p> This is the projects.py backend code</p></div>
                <div><img src="https://docs.google.com/drawings/d/e/2PACX-1vTlAMeJeZjgmkep2JJESUKYKyATtdlRydAHPLhVizJfw0oVxarO-JYGyLM_0EnqvKT8_EQTrXxp6Pjp/pub?w=874&amp;h=689"></div>
                <div>
                        <h1>Phython</h1>
                </div>
                <div>
                        <p>This is my python code which has functions, lists/arrays, iteration, and more!</p>
                </div>
                <div><img src="https://docs.google.com/drawings/d/e/2PACX-1vTs09EB6ZEyUt6kzvE8lUpHHJ-KmD_00yqKvtP4j3ZgUz7mFVloeJfzZQGWKL5OkVtSXdtRUxaYLCrG/pub?w=922&amp;h=654"></div>
                <div>
                        <h1>Tools</h1>
                </div>
                <div>
                        <p>This is my INTELLIJ screen! I made an SDK, installed python, and learned how to use VCS</p>
                </div>
                <diiv><img src="https://docs.google.com/drawings/d/e/2PACX-1vT96IP7izaAxfedi_lxa4xlRvEd4bY6MmsCtvG_-uJPzJEgsDC9UKbG9bwwrGPjTHJeLCMpUbiZosxP/pub?w=930&amp;h=525"></diiv>

        </div>

        <div class="footer-margin">
                <footer class="card-footer bg-light footer-font-style text-muted footer-position"><a
                        href="https://github.com/iniyaam/Python-Web-Portfolio-Series-1">Github</a>
                </footer>
        </div>

</div>
{% endblock %}