{% extends "base.html" %}
{% block title %}Submit A Joke
{% endblock %}

{% block pagecontent %}
<h1><u>Submit A Joke Here:</u></h1>
</div>
</div>
{#Submit a joke#}
<div id="submit" style="margin-bottom: 5vw;">
    <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://forms.gle/3ShCGein2cWNYL3L9"0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div </a></div></div>
</div>

{%endblock%}
