<!DOCTYPE html>

{% extends "homesite/base.html" %}
{% block content %}
    <div class="jumbotron jumbotron-fluid" style="height: 50%; ">

    <div class="row courses-buttons justify-content-center">

        <form method="POST" ID="myForm" action="/python/input/" >
        <table id="links">
            <tr><td><a href="/python/users/">Users</a></td><td><a href="/python/emails/">E-Mails</a></td><td><a href="/python/phones/">Phone Numbers</a></td>
                <td><a href="/python/input/">Input</a></td></tr>
            <tr><td><select name="ID">
                <optgroup label="userid">
                    <option label="1">1</option>
                    <option label="2">2</option>
                    <option label="3">3</option>
                    <option label="4">4</option>
                </optgroup>
            </select></td>
                <td><input type="text" name="email"></td>
                <td><input type="text" name="phone_number"></td>
                <td><input type="submit" value="Add"></td>
            </tr>
        </table>
        </form>

    </div>
    </div>


{% endblock %}