<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">


{% block title %}
<h1>Paul's Project</h1>
{% endblock %}



<body>
<form method="POST" ID="myForm" action="/input/">
    <table id="links">
        <tr><td><a href="/users/">Users</a></td><td><a href="/emails/">E-Mails</a></td><td><a href="/phones/">Phone Numbers</a></td>
            <td><a href="/input/">Input</a></td></tr>
        <tr><td><select name="ID">
            <optgroup label="userid">
                <option label="1">1</option>
                <option label="2">2</option>
                <option label="3">3</option>
                <option label="4">4</option>
            </optgroup>
        </select></td>
            <td><input type="text" name="email"></td>
            <td><input type="text" name="phone_number"></td>
            <td><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>
</body>