<!DOCTYPE html>

{% extends "homesite/base.html" %}
{% block content %}

    {% if 'html' in data %}
        {% set article = "articles/"+data['html'] %}
        {% include article %}
    {% endif %}

    <!-- Project Repo -->
    {% if 'repo' in data and 'repo_description' in data %}
        {% set repo = data['repo'] %}
        {% set repo_description = data['repo_description'] %}
        {% include "repo.html" %}
    {% endif %}

    {% if 'video' in data %}
        {% set video = data['video'] %}
        {% include "video.html" %}
    {% endif %}

    <!-- Project Repl -->
    {% if 'repl' in data %}
        {% set repl = data['repl'] %}
        {% include "repl.html" %}
    {% endif %}

    <!-- Project Timeline -->
    {% if 'timeline' in data %}
        {% set padlet = data['timeline'] %}
        {% include "padlet.html" %}
    {% endif %}

    <!-- Project Padlet -->
    {% if 'padlet' in data %}
        {% set padlet = data['padlet'] %}
        {% include "padlet.html" %}
    {% endif %}

    <!-- Standard Footer -->
    {% include "homesite/contact.html" %}



    <style>

        h1{
            font-size: 4em;;
        }

        .block{
            margin-top: 2.5%;
        }


    </style>


{% endblock %}