<div class="contact" style="height: 80vh;">

    <div class="row justify-content-center" style="margin-bottom: 6vh;" >
        <h1><i>Contact Us</i></h1>
    </div>

    <div class="row justify-content-center" >
        <h3><i>email@email.com</i></h3>
    </div>

    <div class="row justify-content-center" style="margin-top: 6vh;">
        <a href="#" class="fa fa-facebook" style="text-decoration: none;"></a>
        <a href="#" class="fa fa-instagram" style="text-decoration: none;"></a>
        <a href="#" class="fa fa-twitter" style="text-decoration: none;"></a>
        <a href="#" class="fa fa-youtube" style="text-decoration: none;"></a>
    </div>
    


  </div>

  <style>
        .fa {
            padding: 18px;
            font-size: 3rem;
            width: 5rem;
            height: 5rem;
            text-align: center;
            border-radius: 50%;
            background-color: rgb(214, 211, 211);
            margin: 0.5vw;
            color: black;
            transition-duration: 1s;
            text-decoration: none;
        }
        
        .fa:hover{
            margin-top: -1vh;
            color: black;
            text-decoration: none;
        }
  </style>