<!DOCTYPE html>
<div id="articles" class="screen" style="margin: 30px;">
    <h1><strong>Project-Based Learning</strong></h1>
    <h4>By: John Mortensen, Nitya Pillai, and Sarika Pasumarthy</h4>
    <h3><strong>What is project-based learning?</strong></h3>
    <ol>
        <li>Not a traditional learning format. </li>
        <li>Based on 21st-century learning and the 4Cs (Communication, Collaboration, Creativity, Critical Thinking) </li>
        <li>Centered around students applying skills with teacher guidance to create projects. </li>
    </ol>
    <p>Project-based learning is a non-traditional learning format focused on student-led projects supported by teacher guidance. This new 21st-century learning format encourages student independence. Students take greater responsibility for their learning while learning skills applicable in the real world computer science industry. Students establish a clear division of work by taking on project roles, simulating the computer science workspace.</a></p>
    <h3><strong>Why project-based learning?</strong></h3>
    <ol>
        <li>Students are invested in learning. </li>
        <li>Encourages collaboration</li>
        <li>Deeper than just memorization</li>
    </ol>
    <p>Because project-based learning is student-led, it encourages students to take ownership of their learning while also working collaboratively with their peers. Innately led by students, it causes students to become more invested in their work. Students learn concepts rather than memorizing facts.  It is believed that projects often require facts to be applied in different conceptual settings.</p>
    <h3><strong>How does project-based learning work?</strong></h3>
    <p><strong>PBL vs Traditional Learning</strong>
        Unlike a traditional learning format, project-based learning covers the course curriculum through application exercises rather than lengthy lectures or note-taking. During class time students work on their specific tasks within their team and consult their instructor for guidance when needed. If there is a topic students are particularly struggling with, the instructor may conduct a Tech Talk. Tech talk is a brief lesson on a specific concept in the curriculum. However, rather than being focused on memorizing the concept, the instructor will demonstrate how this concept is useful in a student project.</p>
    <p><strong>Schedule</strong>
    <ol>
        <li>The instructor will develop an open-ended project outline they feel will help students master a certain skill in the course while also enabling creativity and exploration. This project could be a small scale mini lab or a larger and more time-consuming project.</li>
        <li>Students split into groups of 4-6, preferably an even number, and establish pair share partners. Pair share partners work together on specific tasks of the project while also holding each other accountable for meeting deadlines and daily progress. This can also be trios if necessary.</li>
        <li>Students establish a division of work as well as a scrum master and project manager There are more details on the specific roles in the computer science workspace in a PBL scrum articles. </li>
        <li> Students create a documented plan of their goals for the project with smaller steps to produce the final product. This documentation could be done on a google/word document or a <a href="https://padlet.com/">padlet.</a> A Padlet is an easy to use tool to organize ideas regarding a specific topic visually with tile icons, text, images, and links.</li>
    </ol>
    <h1><strong>32,000 Slack messages sent</strong></h1>
    <h5><em>AP Computer Science A 2019-2020</em></h5>
    <ol>
        <li>Communication is key when working in a team. An effective communication method for the computer science classroom would be <a href="https://slack.com/">Slack.</a><ul>
            <li>Slack allows the instructor to create channels specific to certain project teams and topics.</li>
            <li><a href="https://learn.canvas.net/login/canvas">Canvas</a> is often used among instructors to establish deadlines on action items and to have a central location for all course resources. </li>
        </ul>
        </li>
        <li>Meet weekly to discuss progress and next steps.<ul>
            <li>Project teams will meet weekly with their instructor to receive feedback, ask questions, and discuss progress on their projects.</li>
        </ul>
        </li>
    </ol>
</div>