<div class="row justify-content-center article" style="margin-top: 7.5%;">

    <div class="col-10">

        <div class="row justify-content-center title">
            <h1 style="font-family: gilroy;">How to Use RealVNC to share your connection</h1>
        </div>

        <div class="row justify-content-center" style="margin-top: 3%;">
            <h2>By Nathaniel Cherian</h2>
        </div>

        <div class="row justify-content-center" style="margin-top: 3%;">

            <div class="col-10 post_content">
                <h1>Why do I need RealVNC?</h1>
                <p>Using the built-in VNC application on a raspberry pi is great for building and experimenting with projects on your pi without having to be physically near it. RealVNC takes this one step further by making a gateway between your local VNC and the internet. With it you can now share your pi with friends or teachers and allow them to jump in and see your work.</p>
                <h1>Setting Up RealVNC</h1>
                <p>RealVNC is an interface created by a company, in order to use their services create a free account on their <a href="https://manage.realvnc.com/en/">website</a> ( if your asked for a license just skip through it ). After you've made an account open up your VNC Viewer app on your main computer ( if you aren't sure how to do this click <a href="http://nighthawks.societyofcoders.org/courses/articles/how-to-set-up-vnc-with-your-raspberry-pi/">here</a>)</p>
                <p><img alt="" src="http://167.99.167.145/media/uploads/2020/08/07/b401f1ec-3405-43ce-812d-9196ee4f8f91.png" /></p>
                <p>Click the sign in button at the top right and log in with the credentials that you created on RealVNC earlier. If you have already connected to a pi you will get a screen like this
                    <img alt="" src="http://167.99.167.145/media/uploads/2020/08/07/e97d2e62-f714-4a27-bfac-6f2725f3a212.png" /></p>
                <p>I named my pi-connection "raspberrypimaster" but yours might be different. If you haven't connected to a pi or aren't sure what to do click <a href="http://nighthawks.societyofcoders.org/courses/articles/how-to-set-up-vnc-with-your-raspberry-pi/">here</a>.</p>
                <p>Next, connect to your raspberry pi by entering its <a href="(http://nighthawks.societyofcoders.org/courses/articles/how-to-set-up-vnc-with-your-raspberry-pi/)">local ip</a> at the top or double clicking the connection you made previously. Remember your pi's login as you will need it to get in!</p>
                <p><img alt="" src="http://167.99.167.145/media/uploads/2020/08/07/ed9f9926-1b74-45ff-84c3-0beddb19b480.png" /></p>
                <p>If it hasn't already opened, click the VNC icon, (in the top right bar) to open the VNC menu. Here make sure that it has added your pi to your RealVNC team under "Connectivity". If not just login with the same credentials you used for your RealVNC account.</p>
                <p>Next go to <a href="https://manage.realvnc.com/">https://manage.realvnc.com/</a> and log in to your RealVNC account. Then click the "people" tab
                    <img alt="" src="http://167.99.167.145/media/uploads/2020/08/07/57010c9a-76c1-4efd-91b7-c8baaa4ef946.png" /></p>
                <p>To invite someone to join your VNC server, click the "invite people" button and add their email to the box that follows. Press invite when your done.</p>
                <p><img alt="" src="http://167.99.167.145/media/uploads/2020/08/07/9657f524-625f-450f-8fd0-423fc35e1b94.png" /></p>
                <p>This will send an invitation as well as instructions to join your raspberry pi. Note: you will need to share the username and password you used for your raspberry pi ( not VNC login) with your invitee. If you have been invited you will see your inviters team as well as any server they have, to join simply double click on one of these enter the username and password that they gave you the same way you would login to your own pi.</p>
                <p><img alt="" src="http://167.99.167.145/media/uploads/2020/08/07/ceaa9db9-b258-4ed8-8057-8189bf78af6a.png" /></p>

            </div>
        </div>


    </div>

</div>