<div class="row justify-content-center" style="margin: 30px;">
    <div class="col-10">

        <div class="row justify-content-center">
            <h1>Roles in the Computer Science Work Space</h1>
        </div>

        <div class="row justify-content-center" style="margin-top: 2.5%;">
            <h5>By: Nitya Pillai and Sarika Pasumarthy</h5>
        </div>

        <div class="row justify-content-center" style="margin-top: 2.5%">
            <figure style="text-align: center;">
                <img src="/static/assets/articles/pbl/roles1.png" style="width: 70%;">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <figcaption>Figure 1: This diagram depicts a system of workspace organization known as <b>safe agile</b>. The system creates an efficient flow of work between product managers, project management, and technical developers.</figcaption>
                    </div>
                </div>
            </figure>
        </div>


        <div class="row justify-content-center" style="margin-top: 2.5%;">
            <div class="col-7">

                <div class="row">
                    <h2>Why do we need roles?</h2>
                </div>

                <div class="row">
                    <p>When developing a product it is important for workers or students to organize their workspace in a way that best suits their long term goals. A well planned out workspace will improve the efficiency of both product development and presentation. In addition, it is important to establish an appropriate division of work as this will help in the final integration process.</p>
                </div>

                <div class="row justify-content-center">

                    <ol>
                        <li>Keep the workspace as an open atmosphere where workers or students can easily communicate.</li>
                        <li>Divide and conquer larger tasks.</li>
                        <li>Don’t be afraid to ask questions or collaborate with those of other roles.</li>
                    </ol>

                </div>

                <div class="row" style="margin-top: 2.5%;">
                    <h2>What are these roles?</h2>
                </div>


                <div class="row">

                    <div class="tg-wrap" style="width: 100%; margin-top: 5%; margin-bottom: 10%;">
                        <table class="tg" style="width: 100%;">
                            <thead>
                            <tr>
                                <th class="tg-0lax left">Role Name</th>
                                <th class="tg-0lax">In the Industry</th>
                                <th class="tg-0lax">In the Classroom</th>
                                <th class="tg-0lax right">Acquirable Skills</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="tg-0lax left">Project Manager</td>
                                <td class="tg-0lax">

                                    <ul>
                                        <li>Oversees all the various teams that perform tasks</li>
                                        <li>Focuses on keeping the project on track</li>
                                        <li>Manages resource</li>
                                    </ul>

                                </td>

                                <td class="tg-0lax">

                                    <ul>
                                        <li>Depending on the number of project managers, one may be assigned to each project team.</li>
                                        <li>Communicates between teacher and other project members to work on self-scoring and deadlines</li>
                                    </ul>

                                </td>

                                <td class="tg-0lax right">
                                    <ul>
                                        <li>Leadership</li>
                                        <li>Communication</li>
                                        <li>Organizational</li>
                                    </ul>
                                </td>

                            </tr>

                            <tr>
                                <td class="tg-0lax left">Product Manager</td>
                                <td class="tg-0lax">

                                    <ul>
                                        <li>Oversees all operations related to the development of a certain product</li>
                                        <li>May switch between technical development and marketing/business plan creation among</li>
                                    </ul>

                                </td>

                                <td class="tg-0lax">

                                    <ul>
                                        <li>Works with the project manager to improve the product and perfect its presentation to others, while working with the developers</li>
                                    </ul>

                                </td>

                                <td class="tg-0lax right">
                                    <ul>
                                        <li>Marketing</li>
                                        <li>Leadership</li>
                                        <li>Public Speaking</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="tg-0lax left">Operation Officer</td>
                                <td class="tg-0lax">

                                    <ul>
                                        <li>Handles the business aspect of creating successful products</li>
                                        <li>Plays a key role in the organization of the project team</li>
                                        <li>Map out goals</li>
                                        <li>Record performance</li>
                                        <li>Come up with ways to maximize profit</li>
                                    </ul>

                                </td>

                                <td class="tg-0lax">

                                    <ul>
                                        <li>Develop lesson plans and mini-labs to reach certain milestones</li>
                                        <li>Helps assess other students’ work</li>
                                        <li>Creates meeting agendas and holds meetings to discuss progress</li>
                                    </ul>

                                </td>

                                <td class="tg-0lax right">
                                    <ul>
                                        <li>Problem-solving</li>
                                        <li>Taking initiative to achieve a goal</li>
                                        <li>Communication</li>
                                        <li>Attention to detail</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td class="tg-0lax left">Front end developer</td>
                                <td class="tg-0lax">

                                    <ul>
                                        <li>Focuses on User Interface (UI), which consists of creating visuals and controlling client engagement.</li>
                                        <li>As a front-end developer, you may work with the backend developers to create a rewarding user experience.</li>
                                    </ul>

                                </td>

                                <td class="tg-0lax">

                                    <ul>
                                        <li>Focuses on User Interface (UI), which consists of creating visuals and controlling client engagement.</li>
                                        <li>As a front-end developer, you may work with the backend developers to create a rewarding user experience</li>
                                    </ul>

                                </td>

                                <td class="tg-0lax right">
                                    <ul>
                                        <li>Design</li>
                                        <li>Planning</li>
                                        <li>Creativity</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td class="tg-0lax left">Back end developer</td>
                                <td class="tg-0lax">

                                    <ul>
                                        <li>Back end developers focus on the part of the product that can not be seen to the consumer.</li>
                                        <ul>
                                            <li>This may include underlying logic, organization of classes, and the creation of algorithms</li>
                                        </ul>
                                        <li>As a backend developer, you may collaborate with frontend developers to integrate the user interface into the underlying logic. </li>
                                    </ul>

                                </td>

                                <td class="tg-0lax">

                                    <ul>
                                        <li>Back end developers focus on the part of the product that can not be seen to the consumer.</li>
                                        <ul>
                                            <li>This may include underlying logic, organization of classes, and the creation of algorithms</li>
                                        </ul>
                                        <li>As a backend developer, you may collaborate with frontend developers to integrate the user interface into the underlying logic. </li>
                                    </ul>

                                </td>

                                <td class="tg-0lax right">
                                    <ul>
                                        <li>Critical thinking</li>
                                        <li>Teamwork</li>
                                        <li>Organization</li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table></div>
                </div>


                <div class="row" style="margin-top: 2.5%;">

                    <div class="col-6">
                        <figure style="text-align: center;">
                            <img src="/static/assets/articles/pbl/roles2.png" style="width: 90%;">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <figcaption>Figure 2</figcaption>
                                </div>
                            </div>
                        </figure>
                    </div>


                    <div class="col-6">
                        <figure style="text-align: center;">
                            <img src="/static/assets/articles/pbl/roles3.png" style="width: 90%;">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <figcaption>Figure 3</figcaption>
                                </div>
                            </div>
                        </figure>
                    </div>

                </div>

                <div class="row">
                    <h2>What is a scrum?</h2>
                </div>

                <div class="row">
                    <p>A scrum is a term in the sport rugby (shown in fig 2), which is a close-knit group of people in an offensive huddle. Similarly, a scrum master manages smaller groups inside of a larger overall group (fig 3). A project team can have many scrum teams and scrum masters, with one overall project manager. Scrum masters are generally focused on the project requirements, and helps each subunit in the overall team to stay on track and meet their individual goals. Scrum teams generally work in short periods of time to achieve realistic goals, these time periods are known as sprints.</p>
                </div>


            </div>
        </div>


        <div class="row justify-content-center" style="margin-top: 2.5%;">
            <button class="btn reference-btn">References</button>
        </div>

        <div class="row justify-content-center reference" style="margin-top: 2.5%;">

            <div class="col-7">
                <ol>
                    <li>Safe agile picture: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.scaledagileframework.com%2F&psig=AOvVaw1E4lU2zTf9RybK-fjgYWMb&ust=1595640491878000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDvypre5OoCFQAAAAAdAAAAABAD</li>
                    <li>Safe agile info: https://en.wikipedia.org/wiki/Scaled_agile_framework</li>
                    <li>Scrum picture: https://www.google.com/url?sa=i&url=https%3A%2F%2Fjordanjob.me%2Fblog%2Fscrum-diagram%2F&psig=AOvVaw3xmvEv3eHsN70iUAQjQwpi&ust=1595642597336000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPCpgobm5OoCFQAAAAAdAAAAABAD</li>
                    <li>Rugby picture: https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fphotos%2Frugby-scrum-heineken-cup-saracens-4498375%2F&psig=AOvVaw23jYe42jfongNjct-eBl_G&ust=1595642797762000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLCwxeXm5OoCFQAAAAAdAAAAABAD</li>
                </ol>
            </div>
        </div>

    </div>

</div>