<!-- Ketki's page on the website -->
{% extends "base.html" %}
{% block title %}History of Comedy
{% endblock %} 

{% block pagecontent %}
 <h1><u>History of Comedy</u></h1>                                   

The classic conception of comedy, which began with Aristotle in ancient Greece of the 4th century BCE and persists through the present, holds that it is primarily concerned with humans as social beings, rather than as private persons, and that its function is frankly corrective. The comic artist’s purpose is to hold a mirror up to society to reflect its follies and vices, in the hope that they will, as a result, be mended. The 20th-century French philosopher Henri Bergson shared this view of the corrective purpose of laughter; specifically, he felt, laughter is intended to bring the comic character back into conformity with his society, whose logic and conventions he abandons when “he slackens in the attention that is due to life. 
(from Britannica)

{% endblock %} 
