{% extends "base.html" %}


{% block head %}
<title>{{name}}| Home </title>
{% endblock %}
<!-- jumbotron: shows use of bootstrap -->
{% block pagecontent %}
<div class="product" style="margin-top: 10%;">
    <div class="row" style="padding: 10%; padding-top: 10px; padding-right: 200px; padding-bottom: 200px; padding-left:80px">
    </div>
</div>
<!-- jumbotron code from bootstrap--!>
<div class="jumbotron">
    <h1 class="display-4">COVID CENTER</h1>
    <p class="lead">This website is so you can access all the COVID 19 Stats in the US you need.
    <hr class="my-4">
    <p>Hopefully soon you won't need this website :/</p>
</div>
<!-- flask web portfolio link/button--!>
<div class="row" style="padding-left: 10%;">
    <div class="col-4">
        <form action="https://python-web-portfolio-series.iniyaamohanraj.repl.co/">
            <input type="submit" value="Flask Web Portfolio" />
        </form>
    </div>
</div>
</div>
</div>
<!--wells from bootstrap--!>
<div class="well">
    <h1 class="text-center" class="display-1"> <mark> Total Death's In The US So Far:</mark></h1>
    <br/>
    <h3 class="text-center"> 365,000. </h3>
</div>

{% endblock %}