<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}
    <!-- Project Repo -->
    {% set repo = "https://gh-card.dev/repos/nighthawkcoders/mvc-idea.svg?link_target=_blank" %}
    {% set repo_description = "Ideas for coding in the Model View Control (MVC) style."%}
    {% include "repo.html" %}

    <!-- Project Timeline -->
    {% set padlet = "https://padlet.com/embed/6pxt3hm8186m5c9l" %}
    {% include "padlet.html" %}

    <!-- Standard Footer -->
    {% include "contact.html" %}
{% endblock %}
