<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <!-- Project Repo -->
    {% set repo = "https://gh-card.dev/repos/nighthawkcoders/javahello.svg?link_target=_blank" %}
    {% set repo_description = "Hello, World! and a variety of classroom and technical introductions"%}
    {% include "repo.html" %}

    <!-- Project Repl -->
    {% set repl = "https://repl.it/@jmort1021/Java-Hello-Series?lite=true" %}
    {% include "repl.html" %}

    <!-- Project Timeline -->
    {% set padlet = "https://padlet.com/embed/lslb7s7y06sf" %}
    {% include "padlet.html" %}

    <!-- Standard Footer -->
    {% include "contact.html" %}
{% endblock %}
