<!--Iniyaa's page on the website-->
{% extends "base.html" %}
{% block title %}Knock Knock
{% endblock %}

{% block pagecontent %}
<h1 style="text-align:center"><u>Jokes:</u></h1>
<div>
  </br>
  </br>
  </br>
  <ul style="float:left;">
    <h2> Here are some of our best programming jokes!</h2>
    <li>Why did the programmer quit his job?
      </br>Because he didn’t get arrays!</li>
    <li>What did java say to C?
      </br>You've got no class.</li>
    <li>How many programmers does it take to change a light bulb?
      </br>None, that's a hardware problem.</li>
    <li>What do cats and programmers have in common?
      </br>When either one is unusually happy and excited, an appropriate question would be, "Did you find a bug?"</li>
    <li>What is the most used language in programming?
      </br>Profanity.</li>
    </br>
    </br>
    <h2>Here is a collection from our greatest list of knock knock jokes! </h2></
  </br>
  </br>
  </br>
  <ul style="float:right;text-align:left;">
  <li>Knock knock. Who’s there?
    </br>Hike. Hike who?
    </br>I didn’t know you liked Japanese poetry!</li>
  <li>Knock knock. Who’s there?
    </br>Yah. Yah who?
    </br>No, I prefer google.</li>
  <li>Knock knock. Who’s there?
    </br>Candice. Candice who?
    </br>Candice joke get any worse?!?!?</li>
  <li>Knock knock. Who’s there?
    </br>Justin. Justin who?
    </br>Justin the neighborhood and thought I’d come over.</li>
  <li>Knock knock. Who’s there?
    </br>Nana. Nano who?
    </br>Nano your business!</li>
  <li>Knock knock. Who’s there?
    </br>Double. Double who?
    </br>W!!!</li>
  <li>Knock knock. Who’s there?
    </br>Orange. Orange who?
    </br>Orange you going to open the door?</li>
  <li>Knock knock. Who’s there?
    </br>Spell. Spell who?
    </br>Okay, w-h-o.</li>
  <li>Knock knock. Who’s there?
    </br>Europe. Europe Who?
    </br>NO. You're a poo!!</li>
  <li>Knock knock. Who’s there?
    </br>Dishes. Dishes who?
    </br>Dishes the police! Open up!</li>
  </br>
  </br>
  </ul>


</li>
    <ul>
  <li>Knock knock.Who’s there?
    </br> Wa. Wa who?
    </br>What are you so excited about?</li>
  <li>Knock knock. Who’s there?
    </br>Boo. Boo hoo?
    </br>Why are you crying?</li>
  <li>Knock knock. Who’s there?
    </br>Atch. Atch who?
    </br>Bless you!</li>
  <li>Knock knock. Who’s there?
    </br>Harry. Harry who? H
    </br>arry up and answer the door?</li>
  <li>Knock knock. Who’s there?
    </br>Mikey. Mikey who?
    </br>Mikey doesn’t fit in the key hole!</li>
  <li>Knock knock. Who’s there?
    </br>Stopwatch. Stopwatch who?
    </br>Stopwatch you’re doing and let me in!</li>
</ul>


{% endblock %} 

