<!DOCTYPE html>

<div id="repos" class="screen">

    <div class="row justify-content-center">
        <div class="col-10" style="text-align: center;">
            <h1>Repositories</h1>
        </div>
    </div>

    <div class="repositories block">
        <div class="row justify-content-center">

            <div class="col-4" style="text-align: right;">
                <p>{{ repo_description }}</p>
            </div>

            <div class="col-4">
                <object type="image/svg+xml" data={{repo}}></object>
            </div>

        </div>

    </div>
    

</div>