{% extends "base.html" %}
{% block title %}About Lucas
{% endblock %} 

{% block pagecontent %}

<h1><u>About Lucas:</u></h1>
    <div>
    <ul>
        <li>Hi I'm Lucas and I'm a junior in high school. I have 4 pets, 2 dogs and 2 cats. Below is a picture of both of my
            dogs. The black one's name is Duffy and he's 6 years old. The white one's name is Sherman and he's 3 years old. They are super fluffy.</li>
        <li><a href="https://github.com/notkobalt">My Github Profile</a></li>
        <li><a href="https://instagram.com/Lucasisbored">My Instagram</a></li>
        <li><img src="https://media.discordapp.net/attachments/771905159554662400/774469365445558282/image0.jpg?width=902&height=677"></li>
    </ul>
    </div>
    </div>
{#Lucas study journal#}
    <h2> Study Journal:</h2>
<div id="study-journal" style="margin-bottom: 5vw;">
    <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://docs.google.com/document/d/1r24o5Mn8sB7Cx3rtCBJInbT9cBf5OiFCpAZiE3mUQA0/edit#" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div </a></div></div>
    </div>
    <div>
{#Flask Project Scope#}
    <h2> Flask Project Scope:</h2>
        <div id="flask-project-scope" style="margin-bottom: 5vw;">
            <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://docs.google.com/document/d/1T3cajl0kOPPRUfHDqBrKtmC6Ria0kW8E0_gJo3ur6vc/edit" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div ></a></div></div>
        </div>
    </div>
{%endblock%}