@font-face{
    font-family: gilroy;
    src: url("../fonts/Gilroy-Bold.woff");
}

@font-face{
    font-family: gilroyXB;
    src: url("../fonts/Gilroy-ExtraBold.woff");
}

@font-face{
    font-family: gilroyLIGHT;
    src: url("../fonts/Gilroy-Light.woff");
}

.active{
    font-weight: 1000;
}

.nav-link{
    font-weight: 600;
}