{% extends "base.html" %}
{% load static %}

    {% block content %}

    <div class="screen 1" id='top' style="background-image: url({% static 'assets/home1.svg' %}); background-repeat: no-repeat; background-size:100% 100%;">

        <div class="jumbotron jumbotron-fluid" style="height: 50%; ">
    
            <div class="row justify-content-center" style="text-align: center; margin-top: 1%;">
                <h1 style="font-family: gilroy;">Java</h1>
            </div>
    
    
            <div class="row justify-content-center" style="text-align: center; margin-top: 10%;">
                <div class="col-8" style="font-size: 1.5vw;">
    
                    <div class="row courses-buttons justify-content-center">

                        <div class="col-3">
                            <a href="{% url 'java_repos'%}"><button class="btn">Repos</button></a>
                        </div>

                        <div class="col-3">
                            <a href="{% url 'java_timeline'%}"><button class="btn">Timeline</button></a>
                        </div>

                        <div class="col-3">
                            <a href="{% url 'java_guide'%}"><button class="btn">Guide</button></a>
                        </div>

                        <div class="col-3">
                            <a href="{% url 'java_ap'%}"><button class="btn">Ap Central</button></a>
                        </div>

                    </div>
    
                    
    
                </div>
    
            </div>
    
    

        </div>
    

    </div> <!-- End of screen 1-->


    <div id="repos" class="screen">
        
        <div class="row justify-content-center">
            <div class="col-10" style="text-align: center;">
                <h2>Repositories</h2>
            </div>
        </div>

        <div class="repositories">
            <div class="row justify-content-center">

                <div class="col-4" style="text-align: right;">
                    <p>Hello, World! Additionally, a variety of classroom and technical hellos.</p>
                </div>

                <div class="col-4">
                    <object type="image/svg+xml" data="https://gh-card.dev/repos/nighthawkcoders/javahello.svg?link_target=_blank"></object>
                </div>

            </div>

            <div class="row justify-content-center" style="margin-top: 2vw;">
                <div class="col-8">
                    <iframe frameborder="0" width="100%" height="500px" src="https://repl.it/@jmort1021/Java-Hello-Series?lite=true"></iframe>
                </div>
            </div>

        </div>


    </div>

    <div id="timeline" style="margin-bottom: 5vw;">
        <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://padlet.com/embed/lslb7s7y06sf" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div style="padding:8px;text-align:right;margin:0;"><a href="https://padlet.com?ref=embed" style="padding:0;margin:0;border:none;display:block;line-height:1;height:16px" target="_blank"><img src="https://padlet.net/embeds/made_with_padlet.png" width="86" height="16" style="padding:0;margin:0;background:none;border:none;display:inline;box-shadow:none" alt="Made with Padlet"></a></div></div>
    </div>

    <div id="padlet" style="margin-bottom: 5vw;">
        <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://padlet.com/embed/b24kstdegziddjqr" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div style="padding:8px;text-align:right;margin:0;"><a href="https://padlet.com?ref=embed" style="padding:0;margin:0;border:none;display:block;line-height:1;height:16px" target="_blank"><img src="https://padlet.net/embeds/made_with_padlet.png" width="86" height="16" style="padding:0;margin:0;background:none;border:none;display:inline;box-shadow:none" alt="Made with Padlet"></a></div></div>
    </div>

    <div id="ap" style="margin-bottom: 5vw;">
        
        <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://padlet.com/embed/iji39ih2mzwa" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div style="padding:8px;text-align:right;margin:0;"><a href="https://padlet.com?ref=embed" style="padding:0;margin:0;border:none;display:block;line-height:1;height:16px" target="_blank"><img src="https://padlet.net/embeds/made_with_padlet.png" width="86" height="16" style="padding:0;margin:0;background:none;border:none;display:inline;box-shadow:none" alt="Made with Padlet"></a></div></div>
    </div>

    {% include "contact.html" %}



    <style>

    .screen{
        height: 100vh;
    }

    .screen h2{
        font-family: gilroy;
        font-size: 3vw;
        margin-top: 5%;
    }

    .jumbotron{
        background: none;
        padding-top: 10%;
        margin: 0;
    }

    .jumbotron h1{
        font-size: 5vw;
    }

    .courses-buttons button {
        width: 80%;
        background-color: var('--gray');
        font-size: 2vw;
    }


    .difficulty-buttons button{
        width: 100%;
        background-color: var('--gray');
        font-size: 2vw;
    }

    .repositories{
        margin-top: 4vw;
    }

    #repos p{
        font-size: 1.5vw;
    }

    #repos{
        margin-bottom: 5vw;
    }

    </style>

    {% endblock %}